* {
  background-color: #252e25;
}
.container {
  margin-top: 100px;
}
.container > h1 {
  color: rgb(153, 129, 97);
  font-size: 55px;
}
.container > h4 {
  color: rgb(221, 136, 51);
  font-size: 25px;
}
.quantity__input {
  background-color: white;
  padding: 10px;
  font-size: 26px;
  width: 50px;
  border: none;
  text-align: center;
}
.quantity__minus {
  color: white;
  font-size: 40px;
  cursor: pointer;
}
.quantity__plus {
  color: white;
  cursor: pointer;
  font-size: 40px;
}
